.button{
    border: none;
    background-color: white;
    margin-right: 5px;
    width: 100px;
    height: 50px;
    font-size: 23px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}